:root {
    --theme-color: #a00f0f;
    --main-dark: #000000;
    --dark-500: #3D3743;
    --main-ash: #F0F2E3;
    --theme-shade: #b33f3f
}

.bg-theme-color {
    background-color: var(--theme-color);
}

.cursor-pointer {
    cursor: pointer;
}

.text-shadow-dark {
    text-shadow: var(--main-dark) 0.1em 0.1em 0.2em;
}