:root {
    --theme-color: #a00f0f;
    --main-dark: #0a090b;
    --dark-500: #3D3743;
    --main-ash: #F0F2E3;
    --theme-shade: #b33f3f
}

.bg-theme-color {
    background-color: var(--theme-color);
}

.cursor-pointer {
    cursor: pointer;
}

.card-raduis {
    border-radius: 20px;
}

.icon-raduis {
    border-radius: 10px !important;
}

.border-main-dark {
    border: 1px solid var(--main-dark);
}

.border-theme-color {
    border: 1px solid var(--theme-color);
}

.border-dark-500 {
    border: 1px solid var(--dark-500);
}

.border-bottom-dark-500 {
    border-bottom: 1px solid var(--dark-500);
}

.border-top-dark-500 {
    border-top: 1px solid var(--dark-500);
}

.text-theme-color {
    color: var(--theme-color);
}

.text-underline {
    text-decoration: underline !important;
}

.text-main-dark {
    color: var(--main-dark);
}

.text-dark-500 {
    color: var(--dark-500);
}

.bg-dark-500 {
    background-color: var(--dark-500);
}

.object-cover {
    object-fit: cover;
}

.bg-main-dark {
    background-color: var(--main-dark);
}

.bg-main-ash {
    background-color: var(--main-ash);
}

.text-main-ash {
    color: var(--main-dark);
}